.main {
  scroll-snap-type: y proximity;
  height: 100vh;
  overflow-y: scroll;
}

.main .section {
  scroll-snap-align: center;
}

.footer {
  scroll-snap-align: start;
}

.about-me-section {
  position: relative;
}

.about-me-component {
  position: relative;
  margin-top: 7.5vh;
  opacity: 0;
}

.main .submissions-section {
  scroll-snap-align: none;
}

.is-visible {
  .about-me-component {
    animation: rise 1.5s forwards;
  }
  // .submissions-section{
  //     animation: getSnap 0s 10s forwards;
  // }
  // @keyframes getSnap {
  //     100% {scroll-snap-align: center;}
  // }
}

@keyframes rise {
  0% {
    top: 40vh;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.skills-component {
  padding-top: 7.5vh;
}
