.footer{
    display: flex;
    min-height: 20px;
    position: relative;
}

.footer_bar{
    width: 50%;
    padding: 2vh 3vh 2vh 3vh;
    background-color: black;
}

.footer_icon{
    height: 5vh;
    width: 5vh;
    min-height: 30px;
    min-width: 30px;
}

.lin{
    background: url("../../assets/icons/linkedin_logo_base.png") no-repeat;
    background-size: 100%;
}

.lin:hover{
    background: url("../../assets/icons/linkedin_logo_hover.png") no-repeat;
    background-size: 100%;
}

.git{
    background: url("../../assets/icons/github_logo_base.png") no-repeat;
    background-size: 100%;
}

.git:hover{
    background: url("../../assets/icons/github_logo_hover.png") no-repeat;
    background-size: 100%;
}