.about-me {
  /* background-color: #d2d2d2; */
  background-color: #d8d8f6;

  position: relative;
  display: flex;

  align-items: center;
  justify-content: center;
}

img {
  height: auto;
  max-width: 40vw;
}

.text_fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 20px;

  color: rgb(36, 36, 36);
}

.about-me-text {
  position: relative;
  text-align: justify;
  opacity: 0;
  animation-name: from_underneath;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.about-me-header {
  font-size: 1.6em;
}

.about-me-content {
  font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
  .about-me {
    flex-direction: column;
  }

  img {
    height: auto;
    max-width: 100vw;
  }
  .about-me-header {
    font-size: 1.6em;
  }

  .about-me-content {
    font-size: 1.2em;
  }
}

.is-visible .about-me-header {
  animation-delay: 2s;
}

.is-visible .about-me-content {
  animation-delay: 3s;
}

@keyframes from_underneath {
  0% {
    top: 1vh;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}
