.about-me{
    background-color: #d2d2d2;
    height: 35vw;
    position: relative;
}

.photo{

    position: absolute;
    top: 0;
    right: 65vw;
    
}

.text_fields{
    position: relative;
    left: 40vw;
    width: 55%;
    padding-top: 6%;


    color: rgb(36, 36, 36);
    text-align: center;
}

.about-me-header{
    position: relative;
    opacity: 0;
    display: block;
    font-size: 3.1vw;
}

.about-me-content{
    position: relative;
    opacity: 0;
    display: block;
    font-size: 2.4vw;
    top: 5vh;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.is-visible .about-me-header{
    animation-name: from_underneath_header;
    animation-duration: 0.5s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.is-visible .about-me-content{
    animation-name: from_underneath;
    animation-delay: 4s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes from_underneath_header{
    0%   {top:1vh;}
    100% {opacity: 1; top:0;}
}

@keyframes from_underneath{
    0%   {top:6vh;}
    100% {opacity: 1; top:5vh;}
}