.nav {
  position: fixed;
  padding: 0 5vw;
  top: 0;
  width: 100%;
  right: 0;
  min-height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background: #161616;
}

.nav .navbar {
  display: none;
  width: 100%;
  height: 100%;
}

.nav .navbar .burger {
  margin: 0 20px;
  cursor: pointer;
}

.nav .navbar .burger .line {
  background: rgba(255, 255, 255, 0.6);
  height: 5px;
  width: 30px;
  margin: 5px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.nav .nav-links-bg {
  height: 100%;
  width: 100%;
}

.nav .nav-links-bg .nav-links {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  min-height: 8vh;
}

.nav .nav-links-bg .nav-links li {
  height: 100%;
  padding: 1% 4%;
  background: transparent;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.nav .nav-links-bg .nav-links li a {
  color: #e4e4e4;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-family: sans-serif;
  font-size: larger;
  -webkit-transition: 0.15s ease;
  transition: 0.15s ease;
}

.nav .nav-links-bg .nav-links li a:hover {
  color: #e9c80d;
}

.nav .nav-links-bg .nav-links li:hover {
  background: black;
}

.nav .nav-links-bg .nav-links li:hover a {
  color: #e9c80d;
}

@media screen and (max-width: 1100px) {
  .nav .nav-links-bg .nav-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .nav-links-bg .nav-links li {
    padding: 1% 2%;
  }
}

@media screen and (max-width: 768px) {
  .nav {
    width: 50vw;
    right: 0;
    background: transparent;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 10vh;
    padding: 0;
  }
  .nav .navbar {
    min-height: 10vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: 1s ease;
    transition: 1s ease;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
  }
  .nav .navbar:focus {
    width: 30vw;
    background: transparent;
  }
  .nav .navbar:hover, .nav .navbar.nav-active {
    width: 50vw;
    background: darkcyan;
  }
  .nav .navbar:hover .burger .line, .nav .navbar.nav-active .burger .line {
    background: white;
  }
  .nav .nav-links-bg {
    position: absolute;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
    right: 0;
    height: 90.1vh;
    top: 9.9vh;
    background: darkcyan;
    width: 49vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }
  .nav .nav-links-bg.nav-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav .nav-links-bg .nav-links {
    height: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .nav .nav-links-bg .nav-links li {
    opacity: 0;
    width: 100%;
  }
  .nav .nav-links-bg .nav-links li a {
    padding-left: 10vw;
    color: white;
  }
  .nav .nav-links-bg .nav-links li a:hover {
    color: white;
  }
  .nav .nav-links-bg .nav-links li:hover {
    background: rgba(255, 255, 255, 0.15);
  }
  .nav .nav-links-bg .nav-links li:hover a {
    color: white;
  }
}

@-webkit-keyframes navLinkFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes navLinkFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/*# sourceMappingURL=navbar.component.css.map */