.hobby-list{
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
}

  .hobby_item{
    position: relative;
    height: 30vh;
    width: 30vh;
    margin: 5px;

    background-color: transparent;
    perspective: 1500px;
  }
  
  .hobby_card{
    position: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.9s;
    transform-style: preserve-3d;
  }

  .hobby_item:hover .hobby_card{
    transform: rotateY(180deg);
    transition-delay: 0.3s;
  }

  .hobby_card_front, .hobby_card_back{
    display: flex;
    justify-content: center;
    align-items: center;


    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .hobby_card_front{
    background-color: rgb(137, 126, 111);
    color: #e2c521;
  }

  .hobby_card_back{
    transform: rotateY(180deg);
  }

  .the_gif{
    height: 100%;
    width: 100%;
  }