<div class="nav">
  <div class="navbar" (click)="toggleNav()">
    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
  <div class="nav-links-bg">
    <ul class="nav-links">
      <li (click)="toHeader()"><a>Tytuł</a></li>
      <li (click)="toAboutMe()"><a>O Mnie</a></li>
      <li (click)="toSkills()"><a>Umiejętności</a></li>
      <li (click)="toHobbies()"><a>Zainteresowania</a></li>
      <li (click)="toContact()"><a>Kontakt</a></li>
      <li (click)="toSubmissions()"><a>Opinie</a></li>
    </ul>
  </div>
</div>
