.nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 15px;
  min-height: 8vh;
  /* overflow: hidden; */
  background-color: #323232;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  font-size: 3.5vh;
  font-family: "Lucida Sans", Arial, sans-serif;
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 3px;
  background: rgb(241, 241, 241);
  margin: 5px;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    display: flex;
  }
  li a {
  }
}

li a:hover:not(.active) {
  color: #e9c80d;
  /* font-size: 120%; */
  transition: 0.5s;
  cursor: pointer;
}
