.skills{
    position: relative;
    justify-content: center;
    min-width: 250px;

    background-color: rgba(0, 0, 0, 0.55);
}

/* .skills::before{
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(0, 0, 0, 0.55);
} */

.skill_title{
    position: relative;
    text-align: center;
    color: white;
    padding: 2vh;

    background-color: black; 
    border-top: 0.6vh solid #e9c80d;
    border-bottom: 2px solid #e9c80d;
}

/* .skill_title::before{
    content: '';
    display: block;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    background-color: black; 
    border-top: 0.6vh solid #e9c80d;
    border-bottom: 2px solid #e9c80d;
} */


.skill_list{
    position: relative;
    display: flex;
    height: 22vw;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

svg{
    position: relative;
    display: flex;
    width: 18vw;
    height: 18vw;
}

svg circle{
    width: 100%;
    height: 100%;

    fill: none;
    stroke: #e9c80d;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-dasharray: calc(2*3.1415926536*8vw);
    transform-origin: 50% 50%;
    transform: rotate(-90deg);

    position: absolute;
}

#circle_html_lvl{
    stroke-dashoffset: calc(.25*calc(2*3.1415926536*8vw));
}

#circle_css_lvl{
    stroke-dashoffset: calc(.4*calc(2*3.1415926536*8vw));
}

#circle_js_lvl{
    stroke-dashoffset: calc(.4*calc(2*3.1415926536*8vw));
}

.skill_item{
    position: relative;
    padding: 0 10px 0 10px;
}

.skill_label{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.skill_the_label{
    color: rgb(218, 217, 183);
    font-size: 2.6vw;

}