
<div class="skills">
    <div class="skill_title">
        <h2>UMIEJĘTNOŚĆI</h2>
    </div>

    <div class="skill_list">

        <div id="html_skill" class="skill_item">
            <svg>
                <circle class="circle_html_lvl  circle" cx=9vw cy=9vw r=8vw>
                </circle>
            </svg>
            
            <div class="skill_label">
                <h2 class="skill_the_label">HTML</h2>
            </div>
        </div>
    
        <div id="css_skill" class="skill_item">
            <svg>
                <circle class="circle_css_lvl circle" cx=9vw cy=9vw r=8vw>
                </circle>
            </svg>
            
            <div class="skill_label">
                <h2 class="skill_the_label">CSS</h2>
            </div>
        </div>
    
        <div id="js_skill" class="skill_item">
            <svg>
                <circle class="circle_js_lvl  circle" cx=9vw cy=9vw r=8vw>
                </circle>
            </svg>
            
            <div class="skill_label">
                <h2 class="skill_the_label" style="font-size: 2vw;">JAVASCRIPT</h2>
            </div>
        </div>
    
    </div>
</div>