<div class="mainBackground">
  <app-navbar></app-navbar>
  
  <div class="container">

    <section id="header-section">
      <app-header></app-header>
    </section>

    <section id="about-me-section">
      <div style="padding-top: 7.5vh;"></div>
      <app-about-me></app-about-me>
      <div style="padding-bottom: 50vh;"></div>
    </section>



    <section id="skills-section">
      <app-skills></app-skills>
    </section>

    <!--<div class="appear-on-scroll" style="visibility:hidden">
      <app-spam></app-spam>
    </div> -->

    <div style="width: 100%; height: 500vh;"></div>


    <section id="contact-section">
      <app-contact></app-contact>
    </section>

    
  </div>
  
  <app-footer></app-footer>
</div>