<div class="main">
  <app-navbar></app-navbar>

  <section id="header-section" class="section header">
    <app-header></app-header>
  </section>

  <section id="about-me-section" class="section about-me-section keep-visible">
    <div id="about-me-component" class="about-me-component component">
      <app-about-me></app-about-me>
    </div>
  </section>

  <div style="width: 100%; height: 120vh"></div>

  <section id="skills-section" class="section skills-section">
    <div class="skills-component">
      <app-skills></app-skills>
    </div>
  </section>

  <div style="width: 100%; height: 60vh"></div>

  <div style="padding-top: 8.5vh"></div>
  <section id="hobbies-section" class="section">
    <app-hobbies></app-hobbies>
  </section>
  <div style="padding-bottom: 50vh"></div>
  <div style="padding-top: 8.5vh"></div>
  <section id="contact-section" class="section">
    <app-contact></app-contact>
  </section>
  <div style="padding-bottom: 20vh"></div>

  <section
    id="submissions-section"
    class="section submissions-section keep-visible"
  >
    <app-submissions></app-submissions>
  </section>

  <app-footer></app-footer>
</div>
