<div class="mainBackground">
  <app-navbar></app-navbar>

    <section id="header-section">
      <app-header></app-header>
    </section>

    <section id="about-me-section">
      <div style="padding-top: 7.5vh;"></div>
      <app-about-me></app-about-me>
      <div style="padding-bottom: 50vh;"></div>
    </section>



    <section id="skills-section">
      <div style="padding-top: 8.5vh;"></div>
      <app-skills></app-skills>
      <div style="padding-bottom: 50vh;"></div> 
    </section>

    <div style="width: 100%; height: 100vh;"></div>


    <section id="contact-section">
      <app-contact></app-contact>
    </section>

    
  
  <app-footer></app-footer>
</div>