.header{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.about-me-section{
    margin-bottom: 50vh;
    position: relative;
}

.about-me-component{
    margin-top: 7.5vh;
    position: absolute;
    opacity: 0;
}

.is-visible.about-me-component{
    animation: rise 5s forwards;
}

@keyframes rise{
    0%   {top:40vh;}
    40%  {opacity: 1;}
    100% {opacity: 1; top:0;}
}
