.submission_form_header{
    text-align: center;
    padding: 7%;
    background-color: rgb(230, 219, 124);
    border: 3px solid rgba(44, 44, 44, 0.05) ;
    margin-top: 7%;
}


.submission_form_window{
    margin: 5% 0 7% 0;
    padding: 10px;
    background-color: rgb(212, 159, 252);
    border: 3px solid rgba(44, 44, 44, 0.2) ;
    border-radius: 8px;

}

.submission_form{
    padding: 10px;
}

.submission_form_input{
    background-color: rgba(44, 44, 44, 0.15);
    border-width: 0.15rem;
    border-color: rgba(44, 44, 44, 0.15);
    font-weight: 600;
}

.submission_form_input:focus{
    border-color: rgba(242, 215, 255, 0.8);
    box-shadow: 0 0 0 0.2rem rgba(242, 215, 255, 0.2);
    color: rgb(242, 215, 255);
}

.submission_form_name{
    margin: 2%;
}

.submission_form_content{
    margin: 15px 2% 15px 2%;

}

.submission_label{
    color: rgb(58, 58, 58);
    font-size: 1.1rem;
    font-weight: 700;
}

#submission_content{
    min-height: 10vh;
}

.submission_button_div{
    width: 96%;
    margin: 2%;
}

.submission_button{
    width: 100%;
    color: white;
    font-weight: 800;
    background-color: rgb(27, 27, 27);
    border: unset;
}

.submission_button:hover{
    border: unset;
    transition: 0.3s;
}

.submission_button:focus{
    box-shadow: unset;
    animation: flash 1s;
}

@keyframes flash{
    0%   {background-color: rgb(27, 27, 27);}
    30%  {background-color: rgb(132, 61, 165);}
    100%  {background-color: rgb(27, 27, 27);}
}
